<section class="posts" style="margin-bottom: 200px;">
  <div class="container">
    <h1 class="text-danger">{{title}}</h1>
    <small class="text-muted hidden-xs" style="float: right; margin-top: -25px;"
      >Built by
      <a href="http://mahmoudosman.com/" target="_blank">Mahmoud Osman</a>
    </small>
    <hr />
    <p class="text-muted covid-link" style="display: none;">
      Displayed Covid-19 Data From:
      <a href="https://corona.lmao.ninja/v3/covid-19/countries" target="_blank"
        >corona.lmao.ninja//v3/covid-19/countries</a
      >
    </p>
    <br />

    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="CountryName"
        class="form-control"
        placeholder="Search covid-19 by a country name"
      />
    </div>

    <span style="color: #ccc; font-weight: bold;"
      >{{CountryName | uppercase}}</span
    >
    <br />
    <br />

    <div
      *ngFor="let country of countries | filter:CountryName | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 5,
                                                      currentPage: page,
                                                      totalItems: totalRecords }"
    >
      <main *ngIf="countries.length > 0; else noCountryData ">
        <div class="row">
          <div class="col-md-3 col-xs-2">
            <img
              src="/assets/images/covid-19.jpg"
              class="card-img-top"
              alt="{{country.country}}"
              title="Covid 19"
                 draggable="false"
            />
          </div>
          <div class="col-md-9 col-xs-10" id="covid_19">
            <div class="well">
              <h3>
                <b class="text-info">Country:</b> &nbsp;
                <span class="text-success">{{country.country}}</span>
              </h3>

              <img
                class="country-flag"
                src="{{country.countryInfo.flag}}"
                alt="{{country.country}}"
                title="{{country.country}}'s flag"
                   draggable="false"
              />
              <hr />

              <p><b>Continent:</b> &nbsp;{{country.continent}}</p>
              <p><b>Population:</b>&nbsp;{{country.population | number}}</p>
              <p><b>Total Cases: </b> &nbsp;{{country.cases | number}}</p>
              <p class="text-warning">
                <b>Active Cases:</b> &nbsp;{{country.active | number}}
              </p>
              <p><b>Confirmed Cases:</b> &nbsp;{{country.tests | number}}</p>
              <p><b>Recovered:</b> &nbsp;{{country.recovered | number}}</p>
              <p>
                <b>Deaths Per One Million:</b>
                &nbsp;{{country.deathsPerOneMillion | number}}
              </p>
              <p>
                <b>Recovered Per One Million:</b>
                &nbsp;{{country.recoveredPerOneMillion | number: '1.0-0'}}
              </p>
              <p class="text-info">
                <b>Today's Deaths:</b> &nbsp;{{country.todayDeaths | number}}
              </p>
              <p class="text-danger">
                <b>Total Deaths:</b> &nbsp;{{country.deaths | number}}
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Start of Pagination -->
    <pagination-controls
      id="listing_pagination"
      (pageChange)="page = $event"
      maxSize="7"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
    <!-- End of Pagination -->
  </div>
  <ng-template #noCountryData>
    <div class="alert alert-danger">
      <p class="text-center">{{errorMessage}}</p>
    </div>
  </ng-template>
  <!-- <div class="alert alert-danger text-center">
    <h5><i class="fa fa-warning"></i>&nbsp; {{errorMessage}}</h5>
  </div> -->
</section>
