<section class="container text-center" id="about-me">
  <div class="row">
    <div class="col-sm-6 col-md-offset-3">
      <h1 class="text-primary">About Me</h1>
      <div class="thumbnail" *ngFor="let details of profile">
        <img src="{{details.image}}" alt="{{details.name}}" />
        <div class="caption">
          <h3>{{details.name}}</h3>
          <p><b>Education:</b> {{details.education}}</p>
          <p><b>Gratuated From: </b> {{details.school}}</p>
          <p><b>Year of Graduatation:</b> {{details.year}}</p>
          <p><b>Phone Number</b> {{details.phone}}</p>
          <hr />
          <p>{{details.description}}</p>
          <p>
            <a
              href="http://www.mahmoudosman.com"
              class="btn btn-primary"
              role="button"
              target="_blank"
              ><b>LEARN MORE</b></a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
