<div class="contact container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-primary">Contact Me</h1>
      <hr />
      <br />
      <form action="#">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Full name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email address"
            required
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            placeholder="Enter phone number"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          <b>SUBMIT</b>
        </button>
      </form>
    </div>
  </div>
</div>
