<section class="posts">
  <div class="container">
    <h1 class="text-danger">{{title}}</h1>
    <hr />
    <p class="text-muted">
      Displayed Covid-19 Data From:
      <a href="https://corona.lmao.ninja/v3/covid-19/countries" target="_blank"
        >corona.lmao.ninja//v3/covid-19/countries</a
      >
    </p>
    <div *ngFor="let country of countries ">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <img
            src="/assets/images/covid-19.jpg"
            class="card-img-top"
            alt="{{country.Country}}"
          />
        </div>
        <div class="col-md-9 col-xs-12">
          <h3>
            <b class="text-info">Country:</b> &nbsp;
            <a href="/posts/{{country.country}}/">{{country.country}}</a>
          </h3>

          <p><b>Continent:</b> &nbsp;{{country.continent}}</p>
          <p><b>Total Cases: </b> &nbsp;{{country.cases}}</p>
          <p><b>Active Cases:</b> &nbsp;{{country.active}}</p>
          <p><b>Confirmed Cases:</b> &nbsp;{{country.tests}}</p>
          <p><b>Recovered:</b> &nbsp;{{country.recovered}}</p>
          <p>
            <b>Deaths Per One Million:</b> &nbsp;{{country.deathsPerOneMillion}}
          </p>
          <p>
            <b>Recovered Per One Million:</b>
            &nbsp;{{country.recoveredPerOneMillion}}
          </p>

          <p class="text-danger">
            <b>Total Deaths:</b> &nbsp;{{country.deaths}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
