<section class="posts">
  <div class="container">
    <h1 class="text-danger">{{title}}</h1>
    <small class="text-muted hidden-xs" style="float: right; margin-top: -25px;"
      >Built by Mr.
      <a href="http://mahmoudosman.com/" target="_blank">Mahmoud Osman</a>
    </small>
    <hr />
    <p class="text-muted covid-link">
      Displayed Covid-19 Data From:
      <a href="https://corona.lmao.ninja/v3/covid-19/countries" target="_blank"
        >corona.lmao.ninja//v3/covid-19/countries</a
      >
    </p>
    <div *ngFor="let country of countries ">
      <div class="row">
        <div class="col-md-3 col-xs-2">
          <img
            src="/assets/images/covid-19.jpg"
            class="card-img-top"
            alt="{{country.Country}}"
          />
        </div>
        <div class="col-md-9 col-xs-10" id="covid_19">
          <div class="well">
            <h3>
              <b class="text-info">Country:</b> &nbsp;
              <a href="/posts/{{country.country}}/">{{country.country}}</a>
            </h3>

            <p><b>Continent:</b> &nbsp;{{country.continent}}</p>
            <p><b>Total Cases: </b> &nbsp;{{country.cases | number}}</p>
            <p class="text-warning">
              <b>Active Cases:</b> &nbsp;{{country.active | number}}
            </p>
            <p><b>Confirmed Cases:</b> &nbsp;{{country.tests | number}}</p>
            <p><b>Recovered:</b> &nbsp;{{country.recovered | number}}</p>
            <p>
              <b>Deaths Per One Million:</b>
              &nbsp;{{country.deathsPerOneMillion | number}}
            </p>
            <p>
              <b>Recovered Per One Million:</b>
              &nbsp;{{country.recoveredPerOneMillion | number}}
            </p>

            <p class="text-danger">
              <b>Total Deaths:</b> &nbsp;{{country.deaths | number}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
