<section class="home_page">
  <div class="container">
    <!-- added Pipes or filters -->

    <!-- <b>{{getName()}}</b> -->
    <div class="jumbotron">
      <h1>{{title | uppercase}}</h1>
      <p class="text-muted">
        I built this application with Angular 10 framework, Express js and
        Boostrap. To learn more about me, please visit my website.
      </p>
      <a href="http://mahmoudosman.com/" class="btn btn-primary" target="_blank"
        ><h5>LEARN MORE</h5></a
      >
    </div>
  </div>
</section>
